@import '../../variables.scss';

body {
    font-size: 1.2rem;
    background-color: $brandColorPrimary;
}

h1 { 
    color: $brandColorTertiary;
    text-align: center;
}

// Since it is one main form
form {
    background-color: $brandColorTertiary;
    padding: 2rem;
    border: 2.5px solid $brandColorSecondary;
    border-radius: 8px;

    input {
        margin: 1rem 0;
    }

    textarea {
        resize: none;
        padding: .5rem;
        font-size: 1.25rem;
        width: 100%;
    }
}

.error-message {
    color: red;
}